.etatDesLieux {
  /* Pour positionner les croix rouges */
  position: relative;

  display: inline-block;

  padding: 50px;
  text-align: center;
  width: 400px;
  border: solid 1px gray;
}

.etatDesLieux2 {
  left: 100%;
  transform: translateX(-100%);
}

.etatDesLieux img {
  /* border: solid 1px red; */
}

.etatDesLieux .croixRouges {
  position: absolute;
}

.etatDesLieux .croixRouges:hover {
  cursor: pointer;
}

.etatDesLieux .adminMap:hover {
  cursor: pointer;
}