.mavoiture-container {
  /* border: solid 1px red; */

  width: 400px;
  padding: 30px;
  margin: auto;
}

.mavoiture-container-infos {
  /* border:solid 1px red; */
  height: 30px;
}

.mavoiture-container-infos .label {
  display: inline-block;
  width: 200px;
  text-align: right;

  /* border: solid 1px red */
}

.mavoiture-container-infos .value {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
}