 .connexion {
   position: relative;
   /* border: solid 1px red; */
   display: inline-block;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
 }

 .connexion label {
   /* border: solid 1px blue; */

   display: inline-block;
   width: 200px;
   text-align: right;
   position: relative;
   left: -65px;
 }

 .connexion input {
   position: relative;
   left: -65px;
   margin-bottom: 10px;
   margin-left: 10px;
 }

 .connexion button {
  background-color: black;
  color: white;
  width: 270px;
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
 }

 .connexion button:hover {
  cursor: pointer;
 }